
.offer-sec-card{
    background-color: #fff;
    /* width: 600px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.offer-section h3{
    font-family: 'Work Sans',sans-serif;
    font-size: 75px;
    font-weight: 800;
    line-height: 116.49px;
    letter-spacing: -0.01em;
    color: #000000;
}

.offer-card1-r2{
    /* height: 82%; */
    background-color: #F9DF08;
    background-size: cover;
}
.offer-card1-r1 img {
    width: 40px;
    height: 50px;
}
.offer-card1-r1 h2{
    font-family: 'Work Sans',sans-serif;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -0.01em;
    border-right: 2px solid black;
}
.offer-card1-r1 h5{
    font-family: 'Work Sans',sans-serif;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: -0.01em;
    color: #000000;    
}
.offer-card1-r2 h4{
    font-family: 'Work Sans',sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.01em;    
}
.offer-card1-r2 p{
    font-family: 'Work Sans',sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: -0.01em;

}
.offer-card1-r2 h6{
    font-family: 'Work Sans',sans-serif;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -0.01em;
    color: #000000;    
    position: relative;

}
.offer-card1-r2 h6::before{
    content: "";
    position: absolute;
    top: -3px; /* Adjust as needed */
    left: 200px; /* Adjust as needed */
    width: 210px ;/* Adjust the width to extend the border */
    height: 1px; /* Adjust the height to extend the border */
    border: 1px solid black;
}
.offer-card1-r2{
    margin-top: 14px;
    justify-items: center;
}
.offer-sec-b1{
    color: #FFFFFF;
    background-color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 22px;
}
.offer-sec-buttons a{
    text-decoration: none;
}
.offer-sec-buttons{
    justify-content: center;
        
}

.offer-original-p{
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}

.offer-original-p h4 span{
    padding-left: 20%;
    text-align: right;
}
.offer-sec-b2{
    color: #F9DF08;
    background-color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}


@media only screen and (max-width: 820px) and (min-width: 130px)  {
     .offer-section h3{
        margin-top: 50px;
        line-height: 90px;
     }
     .offer-card1-r1 img {
        width: 35px;
        height: 35px;
    }
    .offer-card1-r2 h4{
        font-family: 'Work Sans',sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
    }
    .offer-section h3{
        font-size: 65px;
        padding-top: 20px;
    }
    .offer-card1-r2 h6{
        letter-spacing: 0.1em;
        font-size: 45px;
    }
    .offer-card1-r2 p{
        line-height: 25px;
    }
    .offer-card1-r2{
        margin-top: 10px;
    }
    .offer-card1-r2 h6::before{
        top: -3px; 
        left: 100px;
    }


}

@media only screen and (max-width: 1400px) and (min-width: 850px)  {
    .offer-card1-r2 h6::before{
        top: -3px; 
        left: 100px;
    }
    .offer-card1-r1 h2{
        font-size: 55px;
    }
}
@media only screen and (max-width: 830px) and (min-width: 500px)  {
    .offer-card1-r2 h6::before{
        top: -3px; 
        left: 60px;
    }
    .offer-card1-r1 h2 {
        font-size: 50px;
    }
    /* .offer-card1-r1 h5 {
        font-size: 20px;
    } */
}