
   .carousel-caption-custom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    color: white;
    width: 75%;
  }
  
  .carousel-caption-custom h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 7rem; 
    font-weight: 800;
    line-height: 0.5;
    text-align: left;
  }
  
  .carousel-caption-custom h5 {
    color: #F9DF08;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem; 
    font-weight: 800;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .carousel-caption-custom img {
    float: left;  
    margin-top: 15px;
  }
  
  .carousel-inner {
    margin-top: 100px; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
  }
  @media (max-width: 990px) {
  .carousel-caption-custom h3 {
    font-size: 2.5rem; 
  }
  .carousel-caption-custom {
    left: 50%;
    top: 8%;
    width: 75%;
  }
  }
  
  @media (max-width: 768px) {
    .carousel-caption-custom {
      top: 10%; 
      width: 90%;
    }
  
    .carousel-caption-custom h3 {
      font-size: 2rem;
      text-align: center;
    }
  
    .carousel-caption-custom h5 {
      font-size: 1rem;
      text-align: center;
    }
  }
  
  @media (max-width: 430px) {
    .carousel-caption-custom {
      top: 17%; 
      width: 90%;
    }
    .carousel-caption-custom img{
      width: 100px;
    }
    .carousel-control-prev-icon ,.carousel-control-next-icon{
      font-size: 16px;
    }
    .carousel-caption-custom img {
      margin-top: -15px;
    }
  }